# OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_DIMENSIONS=1536
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_RERANKER_MODEL=gpt-5-nano
OPENAI_MODEL=gpt-5-mini

# Qdrant
QDRANT_URL=http://127.0.0.1:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=taama_ccc
